<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="../plugins/1.3.4/angular.min.js"></script>
</head>
<body>
<!-- <div ng-app="" data-ng-init="quantity=1;cost=5;firstName='John';person={firstName:'John',lastName:'Doe'}">
  <p>姓名为：<span data-ng-bind="firstName"></span></p>
  <p>我的第一个表达式：{{ quantity + cost }}</p>
  <p>姓{{person.lastName}}</p>
</div> -->

<!-- <div ng-app="" ng-init="firstName='John'">

  <p>在输入框中尝试输入：</p>
  <p>姓名：<input type="text" ng-model="firstName"></p>
  <p>你输入的为： {{ firstName }}</p>

</div> -->

<!-- <div ng-app="" ng-init="quantity=1;price=5">
  <h2>价格计算器</h2>
  数量： <input type="number" ng-model="quantity">
  价格： <input type="number" ng-model="price">
  <p><b>总价：</b> {{ quantity * price }}</p>
</div> -->

<!-- <div ng-app="" ng-init="names=['aa','bb','cc']">
  <p>使用ng-repeat来循环数组</p>
  <ul>
    <li ng-repeat="x in names">
      {{x}}
    </li>
  </ul>
</div> -->

<!-- <div ng-app="" ng-init="names=[
{name:'aa',country:'china'},
{name:'bb',country:'wr'},
{name:'cc',country:'fdsf'}
]">
  <p>循环对象：</p>
  <ul>
    <li ng-repeat="x in names">
      {{ x.name + ',' + x.country }}
    </li>
  </ul>
</div> -->

<!-- <div ng-app="" ng-controller="personController">
  名：<input type="text" ng-model="person.firstName"><br>
  姓：<input type="text" ng-model="person.lastName"><br>
  姓名：{{person.firstName + "" + person.lastName}}
</div> -->

<div ng-app="myModule" >
  <div ng-controller="personController">
    名：<input type="text" ng-model="person.firstName"><br>
    姓：<input type="text" ng-model="person.lastName"><br>
    姓名：{{person.fullName() | uppercase}}<br>
    姓名：{{fullName() | lowercase}}<br>
  </div>
  <br>
  <div ng-controller="nameController">
    <p>输入过滤：</p>
    <p><input type="text" ng-model="name"></p>
    <ul>
      <li ng-repeat="x in names | filter:name | orderBy: 'country' ">
        {{(x.name | uppercase) + ',' + x.country }}
      </li>
    </ul>
  </div>
  <br>
  <div ng-controller="customersController">
    <table style="border:1px solid #ccc">
      <tr ng-repeat="x in names">
        <td>{{x.Name}}</td>
        <td>{{x.Country}}</td>
      </tr>
    </table>
  </div>
  <br>
  <div ng-init="mySwitch=true">
    <p>
      <button ng-disabled="mySwitch">点我!</button>
    </p>
    <p>
      <input type="checkbox" ng-model="mySwitch">
    </p>
    <p>{{mySwitch}}</p>
  </div>

  <div>
    <p ng-show="true">我是可见的。</p>
    <p ng-show="false">我是不可见的。</p>
  </div>

  <div>
    <button ng-click="count = count + 1">点我加1</button>
    <p>{{count}}</p>
  </div>

  <div ng-controller="personController">
    <button ng-click="toggle()">隐藏显示</button>
    <p ng-hide="myVar">
      姓：<input type="text" ng-model="person.firstName">
      名：<input type="text" ng-model="person.lastName">
      姓名:{{person.firstName + " " + person.lastName}}
    </p>
  </div>

  <div ng-controller="formController">
    <form novalidate>
      FirstName:<br>
      <input type="text" ng-model="user.firstName"><br>
      LastName:<br>
      <input type="text" ng-model="user.lastName"><br>
      <button ng-click="reset()">Reset</button>
      <p>form = {{user}}</p>
      <p>master = {{master}}</p>
    </form>
  </div>
  <br>
  <form ng-controller="validateCtrl" name="myForm">
    <h2>表单验证实例</h2>
    <p>Username:<br>
      <input type="text" name="username" ng-model="username" required>
      <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
        <span ng-show="myForm.username.$error.required">Username is required.</span>
      </span>
      <br>Email:<br>
      <input type="email" name="email" ng-model="email" required>
      <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
        <span ng-show="myForm.email.$error.required">Email is reqired.</span>
        <span ng-show="myForm.email.$error.email">Invalid email address.</span>
      </span>
    </p>
    <p>
      <input type="submit" value="提交" ng-disabled="myForm.username.$dirty && myForm.username.$invalid || myForm.email.$dirty && myForm.email.$invalid">
    </p>
  </form>



</div>


<script type="text/javascript">
  // function personController($scope) {
  //   $scope.person = {
  //     firstName: 'John',
  //     lastName: 'Doe'
  //   }
  // }

</script>

<script src="personController.js"></script>
<script src="nameController.js"></script>
</body>
</html>